app/step-functions-templates/auto_controller_sfn_template.asl.json
{
  "QueryLanguage": "JSONata",
  "StartAt": "For each Job (from S3)",
  "States": {
    "For each Job (from S3)": {
      "Type": "Map",
      "MaxConcurrency": 5,
      "ItemReader": {
        "Resource": "arn:aws:states:::s3:getObject",
        "ReaderConfig": {
          "InputType": "JSON"
        },
        "Arguments": {
          "Bucket": "${__jobs_config_bucket__}",
          "Key": "${__jobs_config_key__}"
        }
      },
      "ItemSelector": {
        "enabled": "{% $states.context.Map.Item.Value.enabled %}",
        "packageName": "{% & $states.context.Map.Item.Value.jobName & '-' & $states.input.detail.instrumentRunId %}",
        "packageRequest": {
          "instrumentRunIdList": "{% [$states.input.detail.instrumentRunId] %}",
          "dataTypeList": "{% $states.context.Map.Item.Value.dataTypeList %}",
          "projectIdList": "{% $states.context.Map.Item.Value.projectIdList %}"
        },
        "shareDestination": "{% $states.context.Map.Item.Value.shareDestination %}"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "Check projects in instrument run",
        "States": {
          "Check projects in instrument run": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
              "FunctionName": "${__check_project_in_instrument_run_lambda_function_arn__}",
              "Payload": {
                "instrumentRunId": "{% $states.input.packageRequest.instrumentRunIdList[0] %}",
                "projectIdList": "{% $states.input.packageRequest.projectIdList %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed",
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Output": "{% $merge([$states.input, $states.result.Payload]) %}",
            "Next": "Job Enabled and Project Found in Run?"
          },
          "Job Enabled and Project Found in Run?": {
            "Type": "Choice",
            "Choices": [
              {
                "Condition": "{% $states.input.enabled and $states.input.project_found %}",
                "Next": "Run autoPackage"
              }
            ],
            "Default": "Skip"
          },
          "Run autoPackage": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Arguments": {
              "StateMachineArn": "${__auto_package_sfn_arn__}",
              "Input": {
                "packageName": "{% $states.input.packageName %}",
                "packageRequest": "{% $states.input.packageRequest %}",
                "shareDestination": "{% $states.input.shareDestination %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": ["States.Timeout", "States.TaskFailed"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "End": true
          },
          "Skip": {
            "Type": "Succeed"
          }
        }
      },
      "Output": {
        "plans": "{% $states.result %}"
      },
      "End": true
    }
  }
}
