app/step-functions-templates/auto_package_push_sfn_template.asl.json
{
  "QueryLanguage": "JSONata",
  "StartAt": "Trigger Package",
  "TimeoutSeconds": 86400,
  "States": {
    "Trigger Package": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__trigger_packaging_lambda_function_arn__}",
        "Payload": "{% $states.input %}"
      },
      "Output": "{% $merge([$states.result.Payload.packagingRequestObject, {'shareDestination': $states.input.shareDestination}]) %}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Wait For Package"
    },
    "Wait For Package": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "Check Package Status"
    },
    "Check Package Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__check_package_push_status_lambda_function_arn__}",
        "Payload": {
          "id": "{% $states.input.id %}"
        }
      },
      "Output": "{% $merge([$states.input, {'status': $states.result.Payload}]) %}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Is Package Complete"
    },
    "Is Package Complete": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.status = 'SUCCEEDED' %}",
          "Next": "Trigger Push"
        },
        {
          "Condition": "{% $states.input.status = 'FAILED' or $states.input.status = 'CANCELLED' %}",
          "Next": "Auto Package-Push Failed"
        }
      ],
      "Default": "Wait For Package"
    },
    "Trigger Push": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__trigger_push_lambda_function_arn__}",
        "Payload": "{% {'id': $states.input.id, 'shareDestination': $states.input.shareDestination} %}"
      },
      "Output": "{% $states.result.Payload.pushRequestObject %}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Wait For Push"
    },
    "Wait For Push": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "Check Push Status"
    },
    "Check Push Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__check_package_push_status_lambda_function_arn__}",
        "Payload": {
          "id": "{% $states.input.id %}"
        }
      },
      "Output": "{% $merge([$states.input, {'status': $states.result.Payload}]) %}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Is Push Completed"
    },
    "Is Push Completed": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.status = 'SUCCEEDED' %}",
          "Next": "Auto Package-Push Complete"
        },
        {
          "Condition": "{% $states.input.status = 'FAILED' or $states.input.status = 'CANCELLED' %}",
          "Next": "Auto Package-Push Failed"
        }
      ],
      "Default": "Wait For Push"
    },
    "Auto Package-Push Complete": {
      "Type": "Succeed"
    },
    "Auto Package-Push Failed": {
      "Type": "Fail"
    }
  }
}
