app/step-functions-templates/auto_push_sfn_template.asl.json
{
  "QueryLanguage": "JSONata",
  "StartAt": "Check Slack Push",
  "TimeoutSeconds": 86400,
  "States": {
    "Check Slack Push": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__check_slack_push_lambda_function_arn__}",
        "Payload": {
          "slackBody": "{% $states.input.slackBody %}"
        }
      },
      "Output": "{% $states.result.Payload %}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Is an authorized user?"
    },
    "Is an authorized user?": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.userAllowed = false %}",
          "Next": "Notify Slack: Push Not Authorised"
        }
      ],
      "Default": "Notify Slack: Push Triggered"
    },
    "Notify Slack: Push Triggered": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__notify_slack_lambda_function_arn__}",
        "Payload": {
          "slackNotificationType": "PUSH_TRIGGERED",
          "packageId": "{% $states.input.packageId %}",
          "packageName": "{% $states.input.packageName %}",
          "shareDestination": "{% $states.input.shareDestination %}",
          "userId": "{% $states.input.userId %}",
          "channelId": "{% $states.input.channelId %}",
          "messageTs": "{% $states.input.messageTs %}"
        }
      },
      "Output": {
        "shareDestination": "{% $states.input.shareDestination %}",
        "packageId": "{% $states.input.packageId %}",
        "userId": "{% $states.input.userId %}",
        "channelId": "{% $states.input.channelId %}",
        "messageTs": "{% $states.input.messageTs %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Trigger Push"
    },
    "Notify Slack: Push Not Authorised": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__notify_slack_lambda_function_arn__}",
        "Payload": {
          "slackNotificationType": "PUSH_NOT_AUTHORISED",
          "userId": "{% $states.input.userId %}",
          "channelId": "{% $states.input.channelId %}"
        }
      },
      "Output": "{% $states.result.Payload %}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    },
    "Trigger Push": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__trigger_push_lambda_function_arn__}",
        "Payload": {
          "packageId": "{% $states.input.packageId %}",
          "shareDestination": "{% $states.input.shareDestination %}"
        }
      },
      "Output": {
        "id": "{% $states.result.Payload.pushRequestObject.id %}",
        "status": "{% $states.result.Payload.pushRequestObject.status %}",
        "packageId": "{% $states.result.Payload.pushRequestObject.packageId %}",
        "shareDestination": "{% $states.result.Payload.pushRequestObject.shareDestination %}",
        "userId": "{% $states.input.userId %}",
        "channelId": "{% $states.input.channelId %}",
        "messageTs": "{% $states.input.messageTs %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Wait For Push"
    },
    "Wait For Push": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "Check Push Status"
    },
    "Check Push Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__check_package_push_status_lambda_function_arn__}",
        "Payload": {
          "id": "{% $states.input.id %}"
        }
      },
      "Output": {
        "id": "{% $states.input.id %}",
        "packageId": "{% $states.input.packageId %}",
        "shareDestination": "{% $states.input.shareDestination %}",
        "userId": "{% $states.input.userId %}",
        "channelId": "{% $states.input.channelId %}",
        "messageTs": "{% $states.input.messageTs %}",
        "status": "{% $states.result.Payload %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Is Push Completed"
    },
    "Is Push Completed": {
      "Type": "Choice",
      "Choices": [
        {
          "Comment": "Push Failed or Cancelled",
          "Condition": "{% $states.input.status in [ 'SUCCEEDED', 'FAILED', 'CANCELLED' ] %}",
          "Next": "NotifySlack: Push Completed"
        }
      ],
      "Default": "Wait For Push"
    },
    "NotifySlack: Push Completed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__notify_slack_lambda_function_arn__}",
        "Payload": {
          "slackNotificationType": "PUSH_COMPLETED",
          "pushId": "{% $states.input.id %}",
          "status": "{% $states.input.status %}",
          "packageId": "{% $states.input.packageId %}",
          "shareDestination": "{% $states.input.shareDestination %}",
          "userId": "{% $states.input.userId %}",
          "channelId": "{% $states.input.channelId %}",
          "messageTs": "{% $states.input.messageTs %}"
        }
      },
      "Output": "{% $states.input %}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    }
  }
}
