app/step-functions-templates/launcher_sfn_template.asl.json
{
  "QueryLanguage": "JSONata",
  "StartAt": "Trigger Packaging",
  "States": {
    "Trigger Packaging": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__trigger_packaging_lambda_function_arn__}",
        "Payload": "{% $states.input %}"
      },
      "Output": "{% $states.result.Payload %}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Wait For Packaging"
    },
    "Wait For Packaging": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Check Packaging Status"
    },
    "Check Packaging Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__autotrigger_check_job_status_lambda_function_arn__}",
        "Payload": "{% {'id': $states.input.id} %}"
      },
      "Output": "{% $merge([$states.input, {'status': $states.result.Payload}]) %}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Is Packaging Complete"
    },
    "Is Packaging Complete": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.status = 'SUCCEEDED' %}",
          "Next": "Trigger Push"
        }
      ],
      "Default": "Wait For Packaging"
    },
    "Trigger Push": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__trigger_push_lambda_function_arn__}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Wait For Push"
    },
    "Wait For Push": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Check Push Status"
    },
    "Check Push Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__autotrigger_check_job_status_lambda_function_arn__}",
        "Payload": "{% {'id': $states.input.id} %}"
      },
      "Output": "{% $merge([$states.input, {'status': $states.result.Payload}]) %}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Is Push Completed"
    },
    "Is Push Completed": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.status = 'SUCCEEDED' %}",
          "Next": "Autotrigger Complete"
        }
      ],
      "Default": "Wait For Push"
    },
    "Autotrigger Complete": {
      "Type": "Succeed"
    }
  }
}
