app/step-functions-templates/push_s3_data_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "QueryLanguage": "JSONata",
  "StartAt": "Set Vars",
  "States": {
    "Set Vars": {
      "Type": "Pass",
      "Next": "Generate jsonl and upload to s3",
      "Assign": {
        "pushJobId": "{% $states.input.pushJobId %}",
        "packagingJobId": "{% $states.input.packagingJobId %}",
        "pushLocation": "{% $states.input.pushLocation %}",
        "s3StepsCopyBucket": "${__aws_s3_copy_steps_bucket__}",
        "s3StepsCopyCsvPrefix": "{% '${__aws_s3_copy_steps_prefix__}' & '${__aws_s3_copy_steps_midfix__}' & $fromMillis($toMillis($now()), \"[Y0001]__[M01]__[D01]\") & '/' & $states.input.pushJobId & '/' %}",
        "s3StepsCopyCsvKey": "{% 'package_list.jsonl' %}"
      }
    },
    "Generate jsonl and upload to s3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": {
        "destinationBucket": "{% $states.result.Payload.destinationBucket %}",
        "destinationPrefix": "{% $states.result.Payload.destinationPrefix %}"
      },
      "Arguments": {
        "FunctionName": "${__package_file_to_jsonl_data_lambda_function_arn__}",
        "Payload": {
          "packagingJobId": "{% $packagingJobId %}",
          "pushLocation": "{% $pushLocation %}",
          "s3StepsCopyBucket": "{% $s3StepsCopyBucket %}",
          "s3StepsCopyKey": "{% $s3StepsCopyCsvPrefix & $s3StepsCopyCsvKey %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Run S3 Copy"
    },
    "Run S3 Copy": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${__aws_s3_steps_copy_sfn_arn__}",
        "Input": {
          "instructionsPrefix": "{% $s3StepsCopyCsvPrefix %}",
          "instructionsKey": "{% $s3StepsCopyCsvKey %}",
          "destinationBucket": "{% $states.input.destinationBucket %}",
          "destinationPrefix": "{% $states.input.destinationPrefix %}",
          "startMarkerKey": "{% 'STARTED_COPY__' & $fromMillis($toMillis($now()), \"[Y0001]_[M01]_[D01]\") & '__' & $pushJobId & '.txt' %}",
          "summaryCsvKey": "{% 'ENDED_COPY__' & $fromMillis($toMillis($now()), \"[Y0001]_[M01]_[D01]\") & '__' & $pushJobId & '.csv' %}",
          "retainSummaryCsv": true
        }
      },
      "Output": {
        "workingCsvKey": "{% $states.result.Output.workingCsvKey %}"
      },
      "Next": "Check Output Copy CSV"
    },
    "Check Output Copy CSV": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__check_steps_copy_output_lambda_function_arn__}",
        "Payload": {
          "workingCsvBucket": "{% $s3StepsCopyBucket %}",
          "workingCsvKey": "{% $states.input.workingCsvKey %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "No errors",
      "Output": {
        "hasError": "{% $states.result.Payload.hasError %}",
        "errorMessage": "{% $states.result.Payload.errorMessage %}"
      }
    },
    "No errors": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Update Fastq Ingest Ids",
          "Condition": "{% $states.input.hasError = false %}",
          "Comment": "No errors"
        }
      ],
      "Default": "Update job database"
    },
    "Update Fastq Ingest Ids": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${__update_fastq_ingest_ids_sfn_arn__}",
        "Input": {
          "pushJobId": "{% $pushJobId %}",
          "packagingJobId": "{% $packagingJobId %}",
          "pushLocation": "{% $pushLocation %}"
        }
      },
      "Next": "Update job database"
    },
    "Update job database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__update_push_job_api_lambda_function_arn__}",
        "Payload": {
          "pushJobId": "{% $pushJobId %}",
          "packagingJobId": "{% $packagingJobId %}",
          "hasError": "{% $states.input.hasError ? $states.input.hasError : null %}",
          "errorMessage": "{% $states.input.errorMessage ? $states.input.errorMessage : null %}",
          "status": "{% $states.input.hasError ? 'FAILED' : 'SUCCEEDED' %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    }
  }
}
